body {
    margin: 0px;
    padding: 0px;
    background-color: #F3F3F3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box
}
h2{
    font-size: 64px;
    color: #313131;
}
h4 {
    color: #5D5D5D;
 }
 .container{
    max-width: 1070px;
} 
/* Head */
header > .titulo-site {
    color:rgb(255, 255, 255);
    font-size: 30px;
    
    text-shadow: 5px 5px 5px rgb(153, 75, 98);
}
header.img-header {
    background-image: url('./img/francis/francis-det-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Fim Head */

/* Post */
main {
    width: 100%;
    display: flex;
    justify-content: center;
}
section.container{
    display: flex;
    flex-direction: column;
}
section.container > h2 {
    text-align: center;
}
section.container > div{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
article.img-container{
    display: block;
    width:300px;
    height: 300px;
}
article.img-container>img{
    width: 100%
}
.detalhe {
    padding: 3vh;
    width: 40vh;
    height: 40vh;
    columns: auto;
}
.foco {
    padding: 4vh;
    width: 350;
    height: 350;
}


 
