/*Geral*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}
body {
    background-color: #F3F3F3;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

  /*Header*/

 header.head-img>h1{
    font-family: 'Playfair Display', serif;
    color: azure;
    font-size: 64px;
    text-shadow: 5px 5px 5px rgb(153, 75, 98);
    font-weight: bold;
  }
  .head-img{
    background-image: url("./img/francis/francis-det-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /*Post*/

.container{
    max-width: 967px;
    margin: 0 auto;
  }
  .section-posts>.container>h2{
    padding: 20px 0;
    font-family: 'Playfair Display', serif;
    color: #242424;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
  }
.section-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .section-cards > .cards{
    height: 235px;
    width: 250px;
    margin: 20px;
    border-radius: 20px;
    background-color: #FFD1D1;
  }
 .cards > img {
      width: 100%;
      border-radius: 20px;
  }
  .section-cards > .cards:hover{
    cursor: pointer;
    transition: all 1s ease-in-out;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, 
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }